/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015/7/20, 下午 03:14:03
    Author     : 531206
*/

.ui-widget-header{
    border: 1px solid #aaaaaa;
    background: #ccc;
    color: #222222;
    font-weight: bold;
}

.ui-widget-header .ui-icon{
    background-image: url("arrow.png");
}
.ui-icon-circle-triangle-w{
    background-position: 0 0;
}

.ui-icon-circle-triangle-e{
    background-position: -16px 0;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    background: #eee;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
    background-color: white;
    border-color: white;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
    background-color: #aaa;
    color: white;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
    background: #ddd;
    color: black;
}